body{
    background-color: antiquewhite;
    background-image: url('../img/Slika3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

@font-face {
    font-family: 'Edunova';
    src: url('../fonts/CabinetGrotesk-Regular.woff2') format('woff2'); /* Popravljen format */
}

h1 {
    font-family: 'Edunova', 'Arial', 'sans-serif'; 
}